
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e6dde6;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #343a40;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .total-box {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .shipment-options {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  .btn-info {
    background-color: #17a2b8;
    color: #fff;
    border: none;
  }
  
 
  .modal-body p {
    font-size: 16px;
  }
  
  .modal-footer {
    justify-content: center;
  }
  
  .btn-secondary {
    background-color: #3c5d7a;
    color: #fff;
    border: none;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
  }
  